In [1]:
import numpy as np  # linear algebra
import pandas as pd  # data processing

from sklearn.tree import DecisionTreeRegressor  # model

from matplotlib import pyplot as plt  # visualization
from sklearn.tree import plot_tree  # visualize tree

In [2]:
df_wisconsin = pd.read_csv('/content/sample_data/wisconsin.csv')
df_wisconsin
#print(df_loan.dtypes)

,ClumpThickness,CellSize,CellShape,MarginalAdhesion,EpithelialSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses,Class
0,5,4,4,5,7,10,3,2,1,2
1,3,1,1,1,2,2,3,1,1,2
2,6,8,8,1,3,4,3,7,1,2
3,4,1,1,3,2,1,3,1,1,2
4,8,10,10,8,7,10,9,7,1,4
...,...,...,...,...,...,...,...,...,...,...
1125,3,1,1,1,2,1,2,1,1,2
1126,2,1,1,1,2,1,3,1,1,2
1127,5,10,10,10,4,10,5,6,3,4
1128,1,1,1,3,2,1,1,1,1,2
1129,3,1,1,1,3,2,1,1,1,2

In [3]:
df_wisconsin = df_wisconsin.loc[df_wisconsin.index.isin([i for i in range(1000)])]

In [4]:
model = DecisionTreeRegressor(
    criterion='squared_error',
    splitter='best',
    min_samples_split=4,
    max_depth = 5 
)

# CART algorithm that builds the tree based on our data
model.fit(
    X=df_wisconsin.drop(columns=['Class']), 
    y=df_wisconsin['Class']
)

DecisionTreeRegressor(max_depth=5, min_samples_split=4)

In [ ]:
plt.figure(figsize=(30, 50))
plot_tree(
    model,
    feature_names=['ClumpThickness','CellSize','CellShape','MarginalAdhesion','EpithelialSize','BareNuclei','BlandChromatin','NormalNucleoli','Mitoses'],
    impurity=False,
    filled=True,
    fontsize=18
)
plt.show()